.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eggwhite);
    width: 100vw;
    height: 100vh;
    margin-left: 100%;
    }

form {
    margin-left: 20px;
}

