.feed-card {
  border: 1px solid black;
  margin: 30px 0 30px 0;
}

.comment-div {
  width: 100%;
}

.comment-form {
  width: 100%;
}

.comment-textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

.comment-btn {
  width: 30%;
  border: none;
}
