:root {
  --grey: #8e8d8a;
  --pink: #e98074;
  --red: #e85a4f;
  --eggwhite: #eae7dc;
  --lightbrown: #d8c3a5;
}

.new-edit-button {
  font-size: 0.8rem;
  width: 5rem;
  height: 1.5rem;
}

.new-edit-button a {
  text-decoration: none;
}

.new-eddit-button a:hover {
  color: var(--red);
}

.new-eddit-button a:visited {
  color: var(--red);
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-posts-div {
  margin: 0 auto;
}
