.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--eggwhite);
    width: 100vw;
    height: 100vh;
    }



.profile-img {
    width: 10rem;
    height: 6rem;
}

.edit-buttons {
    width: 8rem; 
}

.edit-buttons a {
    text-decoration: none;
    color: black;
}