.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--eggwhite);
  width: 100vw;
  height: 100vh;
}

.profile-div {
  width: 20%;
}

.profile-img {
  width: 10rem;
  height: 6rem;
}

.profile-links-div {
  width: 100%;
}

.profile-icon {
  width: 30%;
  display: block;
}

.profile-links-div {
  display: flex;
}

.profile-links-deep-div {
  display: flex;
}

.profile-link-text {
  text-decoration: none;
  color: var(--pink);
  font-size: 8px;
}
