
:root{--grey: #8E8D8A;
      --pink: #E98074;
      --red: #E85A4F;
      --eggwhite: #EAE7DC;
      --lightbrown: #D8C3A5;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: var(--eggwhite);
  
}

.home {
display: flex;
justify-content: center;
align-items: center;
background-image: url("/images/Background-home.jpg");
width:100vw;
height:100vh;
}

.home-header {
color: var(--pink);
font-size: 5rem;
}

.home-div {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-button-div {
  display:flex;
}

.home-button {
font-size: 2rem;
width: 8rem;
height: 4rem;
background-color: var(--eggwhite);
color: var(--lightbrown);
}

.home-button a {
text-decoration: none;
}

.auth-form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.auth-input {
  font-size: 1.5rem;
  width: 30rem;
  color: var(--grey);
}

.auth-button {
  font-size: 1.5rem;
  width: 15rem;
}

.auth-message {
  font-size: 1.3rem;
  color: var(--red);
}

.navbar {
  background-color: var(--grey);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  color: var(--eggwhite);
  padding: 0.8rem 1.7rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.main {
display: flex;
justify-content: center;
align-items: center;
background-color: var(--eggwhite);
}

.header {
color: var(--pink);
text-align: center;
font-size: 2rem;
}

.username{
text-decoration: none;
color: var(--grey);
}

.username:hover {
color: var(--pink);
}

.username:active {
color: var(--pink);
}

.user-myposts {
  text-align: center;
}

.feed-img {
  width: 20rem;
}

.details-img {
  width: 100%;
}

.following {
  display:flex;
  justify-content: space-between;
}