body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/Background-home.jpg");
  
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 300px;
}